.Transaction {
    width: 400px;
    margin: 0 auto;
}
.center{
    text-align: center;
    margin-top: 20px;
}
.bg-inverse {
    background-color: #292b2c;
}
.text-white {
    color: #fff !important;
}
.input-item {
    height: 48px;
    line-height: 48px!important;
    margin: 0 24px!important;
    padding: 8px 0 0!important;
}
.left-col {
    display: inline-block;
    float: left;
    
}
.right-col {
    margin-left: 72px;
}
.input-box{
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(51, 51, 51);
    cursor: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}
.hr{
    border-top: none rgb(224, 224, 224);
    border-left: none rgb(224, 224, 224);
    border-right: none rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;

    width: 100%;
}
.clear{
    clear: both;
}
#example-datepicker{
    border:none;
    width: 100%;
    outline: none;
}
@media (min-width: 576px) { 
    /* .Transaction{
        width: 500px;
    } */
 }
@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }